@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.font-miama {
    font-family: 'Miama', sans-serif;
}

body {
    font-family: "Inter", sans-serif;
    background: rgba(0, 0, 0, 1);
}

* {
    margin: 0;
    padding: 0;
}

/* nav-bar */

header {
    background: linear-gradient(180deg, #3b3b3b 0%, rgba(119, 119, 119, 0) 100%);
    margin-bottom: 100px;
}

.nav-bar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 35px;
    margin-bottom: 95px;
}

.nav-bar i {
    color: #fff;
    display: none;
    margin: auto 0;
}

.nav-bar .logo {
    font-size: 2.25rem;
    font-weight: 800;
    color: rgba(230, 83, 60, 1);
    font-style: italic;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 5px;
}

.nav-btn li:first-child {
    background: rgba(230, 83, 60, 1);
    border-radius: 40px;
    padding: 6px 0;
}

.nav-btn li a {
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
}

.nav-banner {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.nav-banner-text {
    max-width: 600px;
    margin-bottom: 24px;
}

.nav-banner-text h1 {
    color: #fff;
    font-size: 4.8rem;
    font-weight: 900;
    width: 85%;
    line-height: 6.2rem;
    margin-bottom: 28px;
}

.nav-banner-text h1 span {
    font-size: 5rem;
    font-weight: 900;
    font-style: italic;
    line-height: 5rem;
}

.nav-banner-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin-bottom: 28px;
}

.btn-1 {
    background: rgba(230, 83, 60, 1);
    border: 1px solid rgba(230, 83, 60, 1);
    border-radius: 40px;
    padding: 16px 40px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.btn-1 .mobile {
    display: none;
}

#btn-1_1 {
    background: transparent;
    border: 1px solid white;
    margin-left: 10px;
    border-radius: 40px;
    padding: 16px 40px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.nav-banner-img {
    position: relative;
    color: #fff;
    display: flex;
}

.img-text-board_1 {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 220px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    right: 240px;
    top: 420px;
}

.red-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ff0000;
    margin-right: 15px;
}

.img-text-board_1 h3 {
    font-size: 1.5rem;
    font-weight: 900;
}

.img-text-board_1  h3  span {
    color: rgba(255, 255, 255, 0.65)
    font-size 1rem;
}

.img-text-board_2 {
    position: absolute;
    align-items: center;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    bottom: 330px;
    left: 250px;
}

.img-text-board_2 h3 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 5px;
}

.img-text-board_2 p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.8rem;
    font-weight: 400;
    word-spacing: 4px;
    width: 150px;
}

/* habit section styles */

.habit-section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.habit-section > h3 {
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    margin-bottom: 16px;
}

.habit-section > p {
    font-size: 0.85rem;
    font-weight: 400;
    color:  rgba(255, 255, 255, 0.5);
    max-width: 670px;
    margin: 0 auto;
    margin-bottom: 55px;
    text-align: center;
}

.habit-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.habit-card {
    text-align: center;
    width: 230px;
}

.habit-card img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
}

.habit-card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 6px;
}

.habit-card p {
    font-size: 0.85rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

/* Run section style */

.run-section {
    width: 80%;
    background: rgba(34, 34, 34, 1);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    margin-bottom: 100px;
}

.run-text {
    max-width: 445px;
    margin: 40px 54px;
}

.run-text h2 {
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    margin-bottom: 14px;
}

.run-text p {
    font-size: 0.85rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 34px;
}

.run-img {
    width: 370px;
    height: 320px;
    border-radius: 18px;
    margin: 30px 32px;
    background-image: url("../images/run.jpg");
    background-position: 67% 32%;
    background-repeat: no-repeat;
}

/* BMI section styles */

.bmi-section {
    width: 100%;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 85px;
}

.bmi-header {
    max-width: 870px;
    margin: 0 auto;
    margin-bottom: 88px;
    text-align: left;
}

.bmi-header > h2{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 15px;
}

.bmi-header  p {
    font-size: 0.85rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.bmi-form {
    background: rgba(34, 34, 34, 1);
    display: flex;
    justify-content: space-evenly;
    padding: 52px 0;
}

.chart h3 {
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 52px;
}

.chart table {
    font-size: 0.85rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
    text-align: left;
}

.chart table td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 18px;
}

.chart thead td {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

/* BMI form section styles */

.calculator {
    text-align: left;
    /* max-width: 750px; */
}

.calculator h3 {
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.calculator p {
    font-size: 0.85rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 34px;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 5px));
    gap: 10px;
    margin-bottom: 34px;
}

.input_1 , .input_2 , .input_3, .input_4, .input_5 {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.1);
    border-style: none;
    border-radius: 8px;
    padding: 13px 0 13px 20px;
}

.input_5 {
    grid-column: span 2;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 100;
}


/* Meet team section styles */

.meet-team {
    margin-bottom: 85px;
}

.meet-team-header {
    max-width: 870px;
    text-align: center;
    margin: 0 auto;
}

.meet-team-header h2 {
    font-size: 3rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 14px;
}

.meet-team-header p {
    font-size: 0.85rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 60px;
}

.meet-team-profile {
    max-width: 1440px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.meet-team-profile h3 {
    font-size: 1.8rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 3px;
}

.meet-team-profile p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.profile-1 {
    width: 450px;
    height: 350px;
    border-radius: 18px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trainer1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.profile-2 {
    width: 450px;
    height: 350px;
    border-radius: 18px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trainer2.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.profile-3 {
    width: 450px;
    height: 350px;
    border-radius: 18px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trainer3.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.profile-4 {
    width: 450px;
    height: 350px;
    border-radius: 18px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trainer4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.profile-5 {
    width: 450px;
    height: 350px;
    border-radius: 18px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trainer5.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.profile-6 {
    width: 450px;
    height: 350px;
    border-radius: 18px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trainer6.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.profile-text {
    padding: 15px 20px;
}


/* footer bar */




@media screen and (max-width:576px) {

    
    .nav-banner, .nav-bar ,.habit-section ,.run-section, .bmi-header,.profile-1,.profile-2,.profile-3,.profile-4,.profile-5,.profile-6 {
        width: 90%;
    }
    
    .nav-btn {
        display: none;   
    }

    .nav-bar i {
        display: block;
    }

    .nav-banner,.run-section, .bmi-form {
        flex-direction: column;
    }

    .nav-banner-text h1 {
        font-size: 2.25rem;
        font-weight: 900;
        line-height: 2.5rem;
    }

    .nav-banner-text h1 span {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .btn-1 {
        padding: 16px 20px;
    }

    .btn-1 .desktop {
        display: none;
    }

    .btn-1 .mobile {
        display: inline;
    }

    #btn-1_1 {
        padding: 16px 20px;
    }

    .img-text-board_2 {
        width: 100px;
        bottom: 380px;
        left: 180px;
    }

    .img-text-board_2 h3 {
        font-size: 1.9rem;
    }
    
    .img-text-board_2 p {
        font-size: 0.6rem;
    }

    .img-text-board_1 {
        padding: 20px;
        width: 150px;
        right: 160px;
        top: 250px;
    }
    
    .img-text-board_1 h3 {
        font-size: 1.2rem;
    }
    
    .img-text-board_1 > h3 > span {
        font-size: 0.75rem;
    }

    .habit-section > h3 {
        font-size: 2rem;
    }

    .habit-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .run-text {
        margin: 20px;
    }

    .fix-btn-1 {
        width: 100%;
    }

    .run-img {
        width: 90%;
        background-size: cover;
    }

    .bmi-form {
        padding: 20px;
        text-align: left;
    }

    .bmi-header {
        margin-bottom: 20px;
    }

    .bmi-header > h2{
        font-size: 2rem;
        font-weight: 900;
        margin-bottom: 8px;
    }

    .chart {
        margin-bottom: 45px;
    }

    .calculator h3, .chart h3 {
        font-size: 1rem;
        font-weight: 900;
    }

    .chart h3 {
        margin-bottom: 25px;
    }

    .form {
        grid-template-columns: repeat(2 ,calc(50% - 5px));
    }

    .meet-team {
        margin: 20px;
    }

    .profile-4 {
        background-position-x: center;
}