@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.font-miama {
    font-family: 'Miama', sans-serif;
}

body {
    font-family: "Inter", sans-serif;
    background: rgba(0, 0, 0, 1);
}

* {
    margin: 0;
    padding: 0;
}

/* nav-bar */

header {
    background: linear-gradient(180deg, #3b3b3b 0%, rgba(119, 119, 119, 0) 100%);
    margin-bottom: 100px;
}

.nav-bar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 35px;
    margin-bottom: 95px;
}

.nav-bar i {
    color: #fff;
    display: none;
    margin: auto 0;
}

.nav-bar .logo {
    font-size: 2.25rem;
    font-weight: 800;
    color: rgba(230, 83, 60, 1);
    font-style: italic;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 5px;
}

.nav-btn li:first-child {
    background: rgba(230, 83, 60, 1);
    border-radius: 40px;
    padding: 6px 0;
}

.nav-btn li a {
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
}

.nav-banner {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.nav-banner-text {
    max-width: 600px;
    margin-bottom: 24px;
}

.nav-banner-text h1 {
    color: #fff;
    font-size: 4.8rem;
    font-weight: 900;
    width: 85%;
    line-height: 6.2rem;
    margin-bottom: 28px;
}

.nav-banner-text h1 span {
    font-size: 5rem;
    font-weight: 900;
    font-style: italic;
    line-height: 5rem;
}

.nav-banner-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin-bottom: 28px;
}

.btn-1 {
    background: rgba(230, 83, 60, 1);
    border: 1px solid rgba(230, 83, 60, 1);
    border-radius: 40px;
    padding: 16px 40px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.btn-1 .mobile {
    display: none;
}

#btn-1_1 {
    background: transparent;
    border: 1px solid white;
    margin-left: 10px;
    border-radius: 40px;
    padding: 16px 40px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.nav-banner-img {
    position: relative;
    color: #fff;
    display: flex;
}

.nav-banner-img img{
}

.img-text-board_1 {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 220px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    right: 240px;
    top: 420px;
}

.red-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ff0000;
    margin-right: 15px;
}

.img-text-board_1 h3 {
    font-size: 1.5rem;
    font-weight: 900;
}

.img-text-board_1 > h3 > span {
    color: rgba(255, 255, 255, 0.65)
    font-size: 1rem;
    font-weight: 400;
}

.img-text-board_2 {
    position: absolute;
    align-items: center;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    bottom: 330px;
    left: 250px;
}

.img-text-board_2 h3 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 5px;
}

.img-text-board_2 p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.8rem;
    font-weight: 400;
    word-spacing: 4px;
    width: 150px;
}

/* habit section styles */

.habit-section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.habit-section > h3 {
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    margin-bottom: 16px;
}

.habit-section > p {
    font-size: 0.85rem;
    font-weight: 400;
    color:  rgba(255, 255, 255, 0.5);
    max-width: 670px;
    margin: 0 auto;
    margin-bottom: 55px;
    text-align: center;
}

.habit-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.habit-card {
    text-align: center;
    width: 230px;
}

.habit-card img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
}

.habit-card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 6px;
}

.habit-card p {
    font-size: 0.85rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}


@media screen and (max-width:576px) {

    
    .nav-banner, .nav-bar ,.habit-section {
        width: 90%;
    }
    
    .nav-btn {
        display: none;
        
    }

    .nav-bar i {
        display: block;
    }

    .nav-banner {
        flex-direction: column;
    }

    .nav-banner-text h1 {
        font-size: 2.25rem;
        font-weight: 900;
        line-height: 2.5rem;
    }

    .nav-banner-text h1 span {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .btn-1 {
        padding: 16px 20px;
    }

    .btn-1 .desktop {
        display: none;
    }

    .btn-1 .mobile {
        display: inline;
    }

    #btn-1_1 {
        padding: 16px 20px;
    }

    .img-text-board_2 {
        width: 100px;
        bottom: 380px;
        left: 180px;
    }

    .img-text-board_2 h3 {
        font-size: 1.9rem;
    }
    
    .img-text-board_2 p {
        font-size: 0.6rem;
    }

    .img-text-board_1 {
        padding: 20px;
        width: 150px;
        right: 160px;
        top: 250px;
    }
    
    .img-text-board_1 h3 {
        font-size: 1.2rem;
    }
    
    .img-text-board_1 > h3 > span {
        font-size: 0.75rem;
    }

    .habit-section > h3 {
        font-size: 2rem;
    }

    .habit-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}